.contact tr{
  height: 7rem;
  
  
}

.contact th{
  width: 150px;
  text-align: right;
  margin-right: 10px;
    
}

.contact textarea{
  width: 480px;
  
}

.button {
  background-color: #008B8B;
  font-size: 3rem;
  color: white;
  padding: 10px;
  margin: 0;
  
}

.form input:hover{
  opacity: 0.6;
}

.position {
  text-align: center;
}
